
  <div class="form-container">
    <div class="col-md-6 offset-md-3">
    <h4>Add new notification</h4>
    <br>
    <form [formGroup]="notificationForm" (submit)="submit()">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Choose strategy</mat-label>
        <mat-select formControlName="strategy">
          <mat-option *ngFor="let strategy of strategies" [value]="strategy">
            {{strategy.name}}
          </mat-option>
        </mat-select>
      </mat-form-field> 
      <button mat-icon-button> 
          <i class="material-icons md-36" (click)="add()">add_circle_outline</i>
      </button>
      <div style="text-align: left;">
          <ul>
            <li>

              <mat-checkbox formControlName="email" class="example-margin" [(ngModel)]='email' >e-mail</mat-checkbox> 
   
            </li>
            <li>
              <mat-checkbox formControlName="hardDrive" [(ngModel)]='hardDrive'  class= "example-margin" >zapis na dysku</mat-checkbox> 

            </li>
          </ul>

      </div>

      <br>
    <mat-form-field class="form-field" appearance="outline" *ngIf='email'>
        <mat-label> Subject of e-mail
        </mat-label>
        <input matInput formControlName="subject" required>
        <mat-error *ngIf="notificationForm.controls.subject.touched && notificationForm.controls.subject.invalid">
          <span *ngIf="notificationForm.controls.subject.errors.required">This field is mandatory.</span>
      
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline" *ngIf='email' >
        <mat-label> Text of email
        </mat-label>
        <textarea matInput formControlName="text"
        cdkTextareaAutosize
        cdkAutosizeMinRows="3"
        cdkAutosizeMaxRows="10">
       </textarea>
        <mat-error *ngIf="notificationForm.controls.text.touched && notificationForm.controls.text.invalid">
          <span *ngIf="notificationForm.controls.text.errors.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="secondary" type='button'  (click) = addUser() *ngIf='email' >Add Users</button>
 
     
      <ul>
        <li *ngFor= "let user of users">
            {{user.name}}
            <button mat-icon-button> 
              <i class="material-icons md-36" (click)="remove(user)">delete</i>
            </button>
  
          </li>
 
      </ul>



      <br>
      <button mat-raised-button color="primary" type="submit" [disabled]='(!users.length && email) || (!email && !hardDrive) ' >Submit</button>
    </form>
  </div>

</div>