.inline {
    display:inline-block;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: top; 
  }
  .inline-text {
    display:inline-block;
    vertical-align: middle; 
}
.disable_ripple:hover{
  color: #0099cc;
  }
  .user-container{
    margin-top: 20px;
}
label {
  background-color:transparent;
  cursor: pointer;
}
.ref {
  cursor:pointer;
  color:#0099ff ;

}
.ref:hover {
  text-decoration:none;
  text-decoration:underline;
}