
<div class="col-md-12 user-container">

  <h6 style="margin: auto align = center"> List of datapoints:</h6>
 
  <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
    

    <table class="table table-striped" matSort (matSortChange)="sortData($event)">
      <thead>
        <tr style="background-color: white ;">
          <th>
          <mat-form-field class="example-form-field">
            <mat-label>Id</mat-label>
            <input matInput type="number" [(ngModel)]="id"(input) = "idChange($event)" >
            <button mat-button *ngIf="id" matSuffix mat-icon-button aria-label="Clear" (click)="clearId()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </th>
        <th>
          <mat-form-field class="example-form-field">
            <mat-label>Name</mat-label>
            <input matInput type="text" [(ngModel)]="name" (input) = "nameChange($event)"> 
            <button mat-button *ngIf="name" matSuffix mat-icon-button aria-label="Clear" (click)="clearName()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </th>
        <th>
          <mat-form-field class="example-form-field">
            <mat-label>Description</mat-label>
            <input matInput type="text" [(ngModel)]="description" (input) = "descriptionChange($event)">
            <button mat-button *ngIf="description" matSuffix mat-icon-button aria-label="Clear" (click)="clearDescription()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </th>

      </tr>
      </thead>

      <tr *cdkVirtualFor="let datapoint of datapoints">
     
      <td>{{datapoint.Id}}</td>
      <td>{{datapoint.Name}}</td>
      <td>{{datapoint.Description}}</td>
      
    </tr>
    </table>
  </cdk-virtual-scroll-viewport>

    
    
  