
<div class="col-md-12 user-container">
    <br>
    <mat-label style="font-size: large;">Ustawienia systemowe:</mat-label>
    <br>
    <br>
    <table class="table table-striped">
        <tr>
            <td>   <mat-label>Użytkownik Api: 
            </mat-label> </td>
            <td>
                <mat-label>
                    <span *ngIf = 'system && system.apiUser'style="color: blue;"> {{system.apiUser.userName}}</span>
                    <span *ngIf = '!system || !system.apiUser' style="color: red;"> zdefiniuj użytkownika Api! </span>
           
                </mat-label>
            </td>
            <td> <button mat-raised-button color="secondary" type='button'  (click) = removeApiUser()>Zmień użytkownika</button> </td>
        </tr>  
    <tr>
        <td>   <mat-label>Sprawdź komunikację z Svc</mat-label> </td>
        <td></td>
        <td> <button mat-raised-button color="secondary" type='button'  (click) = testComunication()>Test</button> </td>
    </tr>  
    <tr>
        <td>   <mat-label>Wyślij testową wiadomość e-mail</mat-label> </td>
        <td>   <input  type="text" [(ngModel)]="system.testEmail"> </td>
        <td>  <button mat-raised-button color="secondary" type='button'  (click) = testEmail()>Test</button> </td>
    </tr>
    <tr>
        <td>  <mat-label>Zaktualizuj listę punktów z Svc</mat-label></td>
        <td> 
            <div *ngIf="updateDataPointsStatus">
            <span>{{updateDataPointsStatus.text}}</span>
            <div class="progress my-3">
                <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
            attr.aria-valuenow="{{updateDataPointsStatus.jobProgres}}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: updateDataPointsStatus.jobProgres + '%' }">
            {{updateDataPointsStatus.jobProgres}}%
          </div>
          </div>
          </div>
        </td>
        <td> <button mat-raised-button color="secondary" type='button'  (click) = updateDataPoints()>Aktualizuj</button></td>
    </tr>
    <tr>
        <td><mat-label>Zaktualizuj użytkowników z Svc</mat-label></td>
        <td>
            <div *ngIf="updateUserStatus">
                <span>{{updateUserStatus.text}}</span>
                <div class="progress my-3">
                    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                attr.aria-valuenow="{{updateUserStatus.jobProgres}}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: updateUserStatus.jobProgres + '%' }">
                {{updateUserStatus.jobProgres}}%
              </div>
              </div>
              </div>
        </td>
        <td>  <button mat-raised-button color="secondary" type='button'  (click) = updateUsers()>Aktualizuj</button></td>
    </tr>
    <tr>
        <td>    <mat-label>Zarządzaj strategiami</mat-label></td>
        <td></td>
        <td> <button mat-raised-button color="secondary" type='button'  (click) = showStrategies()>Zarządzaj</button></td>
    </tr>
 
    <tr>
        <td>   <mat-label>Adres Svc</mat-label> </td>
        <td>   <input  type="text" [(ngModel)]="system.svcServer"> </td>
        <td>   <button mat-raised-button color="secondary" type='button'  (click) = update()>Aktualizuj</button> </td>
    </tr>
    <tr>
        <td>   <mat-label>Server wiadomości e-mail</mat-label> </td>
        <td>   <input  type="text" [(ngModel)]="system.smtpServer"> </td>
        <td>  <button mat-raised-button color="secondary" type='button'  (click) = update()>Aktualizuj</button></td>
    </tr>
    <tr>
        <td>   <mat-label>Port serwera wiadomości e-mail</mat-label> </td>
        <td>   <input npmtype="number" [(ngModel)]="system.smtpPort"> </td>
        <td>  <button mat-raised-button color="secondary" type='button'  (click) = update()>Aktualizuj</button></td>
    </tr>
    <tr>
        <td>   <mat-label>Adres e-mail</mat-label> </td>
        <td>   <input type="text" [(ngModel)]="system.mailAddress"> </td>
        <td>  <button mat-raised-button color="secondary" type='button'  (click) = update()>Aktualizuj</button></td>
    </tr>
    <tr>
      <td>
        <mat-label>Użytkownik e-mail</mat-label>
      </td>
      <td><input type="text" [(ngModel)]="system.mailUserName"></td>
      <td>
        <button mat-raised-button color="secondary" type='button' (click)=updateMailUser()>Aktualizuj</button>
      </td>
    </tr>
      <tr>
        <td>   <mat-label>Hasło e-mail</mat-label> </td>
        <td>   <input type="password" [(ngModel)]="mailPassword"> </td>
        <td>  <button mat-raised-button color="secondary" type='button' (click) = updatePassword()>Aktualizuj</button></td>
      </tr>
    <tr>
        <td>   <mat-label>Scieżka przechowywania plików</mat-label> </td>
        <td>   <input type="text" [(ngModel)]="system.pathForFiles"> </td>
        <td>  <button mat-raised-button color="secondary" type='button'  (click) = testFilePath()>Test</button></td>
    </tr>
    <tr>
        <td>   <mat-label>Ilosć dni przechowywania raportów w bazie danych</mat-label> </td>
        <td>   <input  type="number" [(ngModel)]="system.daysToKeepInDb"> </td>
        <td> <button mat-raised-button color="secondary" type='button'  (click) = update()>Aktualizuj</button></td>
    </tr>
      <tr>
        <td>
          <mat-label>Wyczśc wiadomości starsze niż {{system.daysToKeepInDb}} dni</mat-label>
        </td>
        <td></td>
        <td>
          <button mat-raised-button color="secondary" type='button' (click)=clear()>Wyczyść</button>
        </td>
      </tr>
    <tr>
        <td>   <mat-label>Rozmiar bazy [rekordy]</mat-label> </td>
        <td>   {{system.numberOfRecords}}</td>
        <td></td>
    </tr>
 
 
  
    </table>
</div>

