.user-container{
    margin-top: 20px;
}

ul {
    list-style-type: none;


  }

.ref {
    cursor:pointer;
    color:#0099ff ;
  
  }
  .ref:hover {
    text-decoration:none;
    text-decoration:underline;
  }