

<div mat-dialog-content style="text-align:center; margin:auto; ">

    <table class="table table-striped" matSort (matSortChange)="sortData($event)">
        <thead>
            <th mat-sort-header="creationDate">Data utworzenia</th>
            <th mat-sort-header="type"> Typ</th>
            <th mat-sort-header="name">Użytkownik</th>
            <th mat-sort-header="email">Adres</th>
            <th mat-sort-header="generatedReport">P;lik</th>
            <th mat-sort-header="sentDate">Status</th>
            <th mat-sort-header="errorCode">Błąd</th>
        </thead>
        <tbody>
            <tr *ngFor="let message of messages">

                <td>{{message.creationDate}} </td>
                <td> 
                    <span *ngIf ='message.type==0'> E-mail </span>
                    <span *ngIf ='message.type==1'> Zapis na dysku </span> 
                
                </td>
                <td> {{message.userName}}</td>
                <td> {{message.email}}</td>
                <td>
                    <span *ngIf='message.generatedReport' (click) = "getReport(message.generatedReport)" class= "ref"> {{message.generatedReport.name}}  </span>
                    <span *ngIf='message.type==1 && message.filePath'>
                    {{message.filePath}} 
                </span>    
                </td>

                <td>
                    <span *ngIf='message.sentDate && message.type==0' style="color:green;">Wysłano {{message.sentDate}} </span>
                    <span *ngIf='!message.sentDate && message.type==0' style="color: red;">Bład wysłania</span>

                    <span *ngIf='message.sentDate && message.type==1' style="color:green;">Utworzono {{message.sentDate}} </span>
                    <span *ngIf='!message.sentDate && message.type==1' style="color: red;">Bład utworzenia </span>

                </td>
                <td>
                    <ul>

                        <li  *ngIf="message.errorCode[7]==1">
                            <span> Błąd połączenia z Svc</span>
                        </li>
                        <li  *ngIf="message.errorCode[6]==1">
                            <span> Plik raportu nie odnaleziony</span>
                        </li>
                        <li *ngIf="message.errorCode[5]==1">
                            <span> Błąd wczytywania pliku raportu</span>
                        </li>
                        <li *ngIf="message.errorCode[4]==1">
                            <span> Nie powiodło się wysłania wiadomości</span>
                        </li>
                        <li *ngIf="message.errorCode[3]==1">
                            <span> Błędny adres e-mail</span>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <div *ngIf='messages.length==0'><span> Brak wiadomości! </span></div>
</div>
<div mat-dialog-actions>
    <button mat-button class="btn btn-link" (click)="onNoClick()">Anuluj</button>
</div>
<div class="row">
  
  
    <div class="col-md-12 user-container">
    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        (page)="onPaginateChange($event)">
    </mat-paginator>
    </div>


</div>